* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

body {
  background-color: bisque;
}

.wrapper {
  width: 100%;
}

.slider-wrapper {
  height: 92vh;
  margin: 2vh auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  border: 2px solid blue;
}

.container {
  width: 70vw;
  margin: 1vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.item {
  display: inline-block;
  width: 0;
  height: 80vh;
  overflow: hidden;
  background-color: #000000;
  transition: all 0.5s;
}

.item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

input:hover {
  cursor: pointer;
}

.bottom-block {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
}

.description-panel {
  box-sizing: border-box;
  flex-basis: 55vw;
  opacity: 1;
  height: 2.2rem;
  padding: 0.7rem 0.5rem 0.2rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: all 0.2s;
}

.description {
  box-sizing: border-box;
  display: inline-block;
  width: 0;
  opacity: 0;
  height: 100%;
  font: 400 1rem Tahoma, sans-serif;
  overflow: hidden;
  transition: all 0.5s;
  visibility: hidden;
}

.description_small {
  font: 400 0.8rem Tahoma, sans-serif;
}

div.bottom-block:has(input[value='first']:checked)
  + div
  > div.item:first-child {
  width: 70vw;
  opacity: 1;
}

div.bottom-block:has(input[value='second']:checked)
  + div
  > div.item:nth-child(2) {
  width: 70vw;
  opacity: 1;
}

div.bottom-block:has(input[value='third']:checked)
  + div
  > div.item:nth-child(3) {
  width: 70vw;
  opacity: 1;
}

div.bottom-block:has(input[value='fourth']:checked)
  + div
  > div.item:nth-child(4) {
  width: 70vw;
  opacity: 1;
}

div.bottom-block:has(input[value='fifth']:checked) + div > div.item:last-child {
  width: 70vw;
  opacity: 1;
}

div.input-panel:has(input[value='first']:checked)
  + div.description-panel
  > p.description:first-child {
  width: 95%;
  opacity: 1;
  visibility: visible;
}

div.input-panel:has(input[value='second']:checked)
  + div.description-panel
  > p.description:nth-child(2) {
  width: 95%;
  opacity: 1;
  visibility: visible;
}

div.input-panel:has(input[value='third']:checked)
  + div.description-panel
  > p.description:nth-child(3) {
  width: 95%;
  opacity: 1;
  visibility: visible;
}

div.input-panel:has(input[value='fourth']:checked)
  + div
  > p.description:nth-child(4) {
  width: 95%;
  opacity: 1;
  visibility: visible;
}

div.input-panel:has(input[value='fifth']:checked)
  + div
  > p.description:last-child {
  width: 95%;
  opacity: 1;
  visibility: visible;
}

div.input-panel:has(input[value='fifth']:checked) + div.description-panel {
  padding: 0.1rem 0.1rem 0.1rem;
}
